<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BudgetSoftware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BudgetSoftware.Properties.Settings>
            <setting name="SaveCurrentGas" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveCurrentFood" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveCurrentRent" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveCurrentOther" serializeAs="String">
                <value />
            </setting>
            <setting name="e" serializeAs="String">
                <value />
            </setting>
            <setting name="f" serializeAs="String">
                <value />
            </setting>
            <setting name="g" serializeAs="String">
                <value />
            </setting>
            <setting name="h" serializeAs="String">
                <value />
            </setting>
            <setting name="i" serializeAs="String">
                <value />
            </setting>
            <setting name="j" serializeAs="String">
                <value />
            </setting>
            <setting name="k" serializeAs="String">
                <value />
            </setting>
            <setting name="l" serializeAs="String">
                <value />
            </setting>
            <setting name="m" serializeAs="String">
                <value />
            </setting>
            <setting name="n" serializeAs="String">
                <value />
            </setting>
            <setting name="o" serializeAs="String">
                <value />
            </setting>
            <setting name="p" serializeAs="String">
                <value />
            </setting>
            <setting name="q" serializeAs="String">
                <value />
            </setting>
            <setting name="r" serializeAs="String">
                <value />
            </setting>
            <setting name="s" serializeAs="String">
                <value />
            </setting>
            <setting name="t" serializeAs="String">
                <value />
            </setting>
            <setting name="u" serializeAs="String">
                <value />
            </setting>
            <setting name="v" serializeAs="String">
                <value />
            </setting>
            <setting name="w" serializeAs="String">
                <value />
            </setting>
            <setting name="x" serializeAs="String">
                <value />
            </setting>
            <setting name="y" serializeAs="String">
                <value />
            </setting>
            <setting name="z" serializeAs="String">
                <value />
            </setting>
        </BudgetSoftware.Properties.Settings>
    </userSettings>
</configuration>